<launch>
  <arg name="max_name"/>
  <arg name="object_detection_camera" default="hand"/>
  <arg name="grid_size"  default="0.4"/>
  <arg name="layout_cut" default="0.1"/>

  <!-- Localization (with graphnav map & waypoint publishing -->
  <include file="$(find rbd_spot_perception)/launch/graphnav_map_publisher_with_localization.launch">
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="output" value="log"/>
  </include>

  <!-- Publishing grid map projection -->
  <node pkg="sloop_ros" type="spot_graphnav_cloud_to_grid_map.py"
        name="graphnav_pcd_to_grid_map"
        args="--name $(arg map_name) --grid-size $(arg grid_size) --layout-cut $(arg layout_cut)" output="screen"/>

  <!-- Perception (object segmentation and fiducial markers -->
  <node pkg="rbd_spot_perception" type="stream_segmentation.py"
        name="stream_segmentation" args="--camera $(arg object_detection_camera) --pub"
        output="log"></node>

  <!-- Spot recorder -->
  <node name="spot_record_landmarks"
        pkg="sloop_ros" type="spot_record_landmarks.py" output="screen"
        args="$(arg map_name)">
    <param name="detection_3d_topic" value="/spot/segmentation/$(arg object_detection_camera)/result_boxes3d"/>
    <param name="grid_map_topic" value="/graphnav_gridmap"/>
  </node>

</launch>
