<launch>
  <arg name="robot_pose_topic" />
  <arg name="global_cloud_topic" default="/graphnav_map_publisher/graphnav_points"/>
  <arg name="output" default="region_points"/>
  <arg name="name" default="local_cloud_publisher"/>
  <arg name="region_size_x" default="4.0"/>
  <arg name="region_size_y" default="4.0"/>
  <arg name="region_size_z" default="2.4"/>
  <arg name="retain_ratio" default="0.1"/>

  <!-- publish local cloud -->
  <node name="$(arg name)"
        pkg="genmos_object_search_ros" type="local_cloud_publisher" output="screen">
    <param name="global_cloud_topic" value="$(arg global_cloud_topic)"/>
    <param name="region_cloud_topic" value="region_points"/>
    <param name="robot_pose_topic" value="$(arg robot_pose_topic)"/>
    <param name="region_size_x" value="$(arg region_size_x)"/>
    <param name="region_size_y" value="$(arg region_size_y)"/>
    <param name="region_size_z" value="$(arg region_size_z)"/>
    <param name="retain_ratio" value="$(arg retain_ratio)"/>
    <remap from="region_points" to="$(arg output)" />
  </node>
</launch>
