<launch>
  <arg name="map_name"/>
  <arg name="robot_id" default="robot0"/>

  <node pkg="genmos_object_search_ros2"
        name="simple_sim_search"
        exec="run_search.py">
    <param name="config_file" value="$(find-pkg-share genmos_object_search_ros2)/tests/simple_sim/config_simple_sim_$(var map_name).yaml"/>
    <param name="robot_id" value="$(var robot_id)"/>
    <param name="world_frame" value="graphnav_map"/>
    <remap from="~/action" to="/simple_sim_env/pomdp_action"/>
    <remap from="~/search_region_cloud_3d" to="/local_cloud_publisher/region_points"/>
    <remap from="~/search_region_cloud_2d" to="/local_cloud_publisher/region_points"/>
    <remap from="~/search_region_center" to="/simple_sim_env/robot_pose"/>
    <remap from="~/robot_pose" to="/simple_sim_env/robot_pose"/>
    <remap from="~/object_detections" to="/simple_sim_env/object_detections"/>
    <remap from="~/action_done" to="/simple_sim_env/action_done"/>
  </node>
</launch>
