<launch>
  <!--
      command to run:
      ros2 launch genmos_object_search_ros2 simple_sim_env_ros2.launch map_name:=lab121_lidar
  -->
  <arg name="map_name"/>
  <arg name="world_frame" default="graphnav_map"/>

  <node pkg="genmos_object_search_ros2"
        exec="simple_sim_env_ros2.py"
        name="simple_sim_env"
        args="$(find-pkg-share genmos_object_search_ros2)/tests/simple_sim/config_simple_sim_$(var map_name).yaml">
    <param name="state_pub_rate" value="10"/>
    <param name="world_frame" value="$(var world_frame)"/>
  <!--   <param name="step_duration" value="0.1"/> -->
  <!--   <param name="translation_step_size" value="0.1"/> -->
  </node>

  <node pkg="genmos_object_search_ros2"
        exec="simple_sim_init_pose_pub_ros2.py"
        name="simple_sim_init_pose_publisher"
        output="screen">
    <param name="x" value="1.2"/>
    <param name="y" value="1.3"/>
    <param name="z" value="0.5"/>
    <param name="thx" value="0.0"/>
    <param name="thy" value="0.0"/>
    <param name="thz" value="90.0"/>
    <param name="world_frame" value="$(var world_frame)"/>
    <param name="latch" value="false"/>
    <param name="lifetime" value="3"/>
  </node>
</launch>
