<launch>
  <arg name="map_name"/>  <!-- Map name, a folder under rbd_spot_perception/maps e.g. lab121_no_lidar -->

  <!-- Localization (with graphnav map & waypoint publishing -->
  <include file="$(find rbd_spot_perception)/launch/graphnav_map_publisher_with_localization.launch">
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="output" value="log"/>
  </include>
  <node pkg="rbd_spot_perception" type="stream_hand_pose.py"
        name="spot_stream_hand_pose"></node> <!-- stream hand pose -->

  <!-- Publishing grid map projection -->
  <node pkg="sloop_ros" type="spot_graphnav_cloud_to_grid_map.py"
        name="graphnav_pcd_to_grid_map"
        args="--name $(arg map_name)" output="screen"/>

  <!-- Perception (object segmentation and fiducial markers -->
  <node pkg="rbd_spot_perception" type="stream_segmentation.py"
        name="stream_segmentation" args="--camera hand --pub"></node>
  <node pkg="rbd_spot_perception" type="stream_fiducial_markers.py"
        name="stream_fiducial_markers"></node>

  <!-- Run SLOOP object search decision making interface (POMDP planner) -->
  <node name="run_sloop_mos_spot"
        pkg="sloop_ros" type="run_agent" output="screen">
    <!-- So strange. you can't do ~config -->
    <rosparam param="config" command="load"
              file="$(find sloop_ros)/config/sloop_mos_spot_$(arg map_name).yaml"/>
    <param name="~pomdp_name" value="sloop_mos_spot"/>
    <remap from="~observation/grid_map"  to="/graphnav_gridmap"/>
    <remap from="~observation/robot_pose" to="/spot_hand_pose"/>
  </node>
</launch>
