<launch>
  <arg name="map_path" default="$(find rbd_spot_perception)/maps/bosdyn/cit_first_floor"/>

  <!-- Run the point cloud and waypoint publishers for the map -->
  <include file="$(find rbd_spot_perception)/launch/graphnav_map_publisher_with_waypoints.launch">
    <arg name="map_path" value="$(arg map_path)"/>
    <arg name="output" value="log" />
  </include>

  <!-- Stream the robot's GraphNav pose as tf transforms and messages -->
  <node pkg="rbd_spot_perception" type="stream_graphnav_pose.py"
        name="stream_graphnav_pose"
        args="--pub-tf --pub-pose" output="screen"/>

  <!-- run the POMDP ROS interface for SLOOP MOS -->
  <node name="run_sloop_mos_spot"
        pkg="sloop_ros" type="run_agent" output="screen">
    <param name="~pomdp_name" value="sloop_mos_spot"/>
    <!-- So strange. bug you can't do ~config -->
    <rosparam param="config" command="load"
              file="$(find sloop_ros)/config/sloop_mos_spot_cit_first_floor.yaml"/>
  </node>

</launch>
